<div class="app">
  <div class="app--main">
    <img src="/assets/logo.svg" class="app--logo" alt="Logo" />
    <form class="app--main--add-item">
      <label>Add a task</label>
      <div>
        <input />
        <button
          
        >Add</button>
      </div>
    </form>
    <ul class="app--main--items">
      <li>
        <button   
        ></button>
        <div class="app--main--items-item-text">
          Placeholder item
        </div>
        <button
          class="delete"
        >
          &times;
        </button>
      </li>
    </ul>
  </div>
</div>
